body{
    text-align:center;
}
header {
  border: dashed red;
  border-width: 4px;
  /* height: 12vh; */
  margin: .5em;
}
/* h1 .ClaraVasquez {
    display: none;
  }
  h1:hover .Header {
    display: none;
  }

  h1:hover .ClaraVasquez {
    display: inline;
    color: red;
    font-size: 20px;
    font-style: italic;
  } */

.Name:hover{
    font-size: 20px;
    font-style: italic;
    color: red;
}

.Date:hover{
    font-size: 20px;
    font-style: italic;
    color: red;
}
#divHeader{
    margin: 10px;
}


nav {
  border: dashed blue;
  margin: 1em;

  border-width: 4px;
  /* height: 12vh; */
}
.navigationBar{
    /* margin: 10px; */
    background-color: rgb(228, 227, 227);
    /* height: 60px; */
    margin: 10px;
    display: flex;
    font-size: 20px;
    border-radius: 10px;
    
}

.Amazon{
    border: solid darkgrey;    
    /* height: 60px; */
    /* width: 60px; */
    padding: 10px;
    width: 25%;
    border-radius: 8px;
    margin: 2px;
    color: rgb(61, 91, 92);

}
.Amazon:hover{
    background-color: rgb(209, 205, 205);
}
.Zara{
  border: solid darkgrey;    
  /* height: 60px; */
  /* width: 60px; */
  padding: 10px;
  width: 25%;
  border-radius: 8px;
  margin: 2px;
  color: rgb(61, 91, 92);
}
.Apple{
  border: solid darkgrey;    
  /* height: 60px; */
  /* width: 60px; */
  padding: 10px;
  width: 25%;
  border-radius: 8px;
  margin: 2px;
  color: rgb(61, 91, 92);
}
.crateBarrel{
  border: solid darkgrey;    
  /* height: 60px; */
  /* width: 60px; */
  padding: 10px;
  width: 25%;
  border-radius: 8px;
  margin: 2px;
  color: rgb(31, 49, 49);
}
.sectionContainer {
  border: dashed green;
  border-width: 4px;
  margin: 1em;
}
section {
  border: solid purple;
  border-width: 0.2px;
  /* height: 9vh; */
  margin: 1em;
}
.amazonLogo{
  width: 80px;
  height: 80px;
}
.zaraLogo{
  width: 80px;
  height: 80px;
}

.Zara:hover{
  background-color: rgb(209, 205, 205);
}

.appleLogo{
  width: 80px;
  height: 80px;
}

.Apple:hover{
  background-color: rgb(209, 205, 205);
}

.crateBarrel:hover{
  background-color: rgb(209, 205, 205);
}
.cbLogo{
  width: 80px;
  height: 80px;
}
table, th, td {
  border:1px solid black;
  
}
table{
  margin-left: auto;
  margin-right:auto;
  margin-bottom: 10px;
  margin-top: 10px;


}
 .espresso{
  border-color: solid red;
  width: 20px;
  height: 20px;

 }
.desktop{
  border-color: solid red;
  width: 20px;
  height: 20px;
}

.desktopimg{
  height: 50px;
  width: 50px;

}
.espressoimg{
  height: 50px;
  width: 50px;
  
}
.section2{
  border-color: solid red;
}